/* STYLING THE INDEX PAGE */
/* COLOR PROPERTIES */
:root{
    --clr-primary-100: #5fb482;
    --clr-primary-200: #203a4c;
    --clr-primary-300: #33323d;

    --clr-secondary-100: #fafafa;
    --clr-secondary-200: #eaeaeb;
    --clr-secondary-300: #f43030;

    --ff-primary: 'Ibarra Real Nova', sans-serif;
    --ff-accent: 'Public Sans', sans-serif;
}

/* MAIN BODY  */
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--ff-accent);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #33323d;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--clr-primary-100);
    cursor: pointer;
}

/* TEXT FORMATTING */
.heading{
    font-family: var(--ff-primary);
    font-weight: 700;
}
.heading.heading__one{
    font-size: 3.125em;
    line-height: 50px;
    letter-spacing: -0.45px;
}
.heading.heading__two{
    font-size: 2.5em;
    line-height: 42px;
    letter-spacing: -0.36px;
}
.heading.heading__three{
    font-size: 2em;
    line-height: 36px;
    letter-spacing: -0.29px;
}
.body__one{ font-size: 1em; }
.body__two{ font-size: 0.938em; }
.body__three{ font-size: 0.75em; }
.body__three.btn__text{
    line-height: 14.1px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.center--align{ text-align: center; }

/* BACKGROUND COLORS */
.bg--light{ background-color: var(--clr-secondary-100); }
.bg--dim{ background-color: var(--clr-primary-200); }
.bg--dark{ background-color: var(--clr-primary-300); }

/* PRIMARY LAYOUT */
.container{
    width: 80%;
    max-width: 375px;
    margin: 0 auto;
}
.header--container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero--container{
    margin-top: 2.5em;
}
.about-me-container{
    margin-top: 6em;
}
.contact--container{
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer--container{
    margin-top: 5em;
    display: grid;
}

/* NAVIGATION */
nav.nav{
    position: relative;
}
.nav__menu{
    display: none; 
}
.nav__menu.active__menu{
    display: block;
    position: absolute;
    top: 5em;
    left: 12em;
    text-align: center;
    color: var(--clr-secondary-100);
    background-color: #000;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2.5em 0;
    cursor: pointer;
    transform: translateX(-15.5em);
    transition: transform 100ms ease-in-out;
}
.nav__menu.active__menu .menu-item{
    padding: 0 7em 0 7em;
}
.nav__menu.active__menu .menu-item:hover{
    color: rgb(174, 174, 174);
}
.nav__menu.active__menu .menu-item:last-of-type{
    padding: 0 3em 0 3em;
}
.nav__block{
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    overflow: hidden;
}
.nav__block .nav__bar{
    position: absolute;
    width: 1.8em;
    height: 0.15em;
    background-color: var(--clr-primary-300);
    transition: 0.5s;
}
.nav__block .nav__bar:nth-child(1){
    transform: translateY(-0.625em);
}
.nav__block.active .nav__bar:nth-child(1){
    width: 1.8em;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}
.nav__block .nav__bar:nth-child(2){
    transform: translateY(0.625em);
}
.nav__block.active .nav__bar:nth-child(2){
    width: 0.8em;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}
.nav__block.active .nav__bar:nth-child(3){
    transform: translateX(1.925em);
}

/* BUTTONS, ICONS, IMAGES*/
.btn{
    width: 100%;
    max-width: 12em;
    height: 48px;
    color: var(--clr-secondary-100);
}
.btn.hero--btn a.hero--link{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.btn.hero--btn a.hero--link p{
    margin: auto;
    padding: 1.4rem 2rem;
}
.down-arrow-icon{
    padding: 1.4rem;
    background-color: #000;
    opacity: 0.1;
}
.about-me-img.tablet, .about-me-img.desktop{
    display: none;
}
.about-me-details{
    margin-top: 2em;
    border-top: 1px solid var(--clr-primary-300);
    border-bottom: 1px solid var(--clr-primary-300);;
}
#about-me{
    margin: 0.65em auto;
}
.btn.about-me-btn{
    margin: 0 0 2.738em 0;
    border: 1px solid var(--clr-primary-300);
}
.btn.about-me-btn a.body__three.btn__text.center--align{
    color: var(--clr-primary-300);
    display: block;
    padding-top: 1.063rem;
}
.black__bar{
    display: none;
}
.contact--container p.heading.heading__one.center--align{
    grid-column: 1/3;
    margin-top: unset;
}
.contact-btn{
    border: 1px solid var(--clr-primary-300);
    text-transform: uppercase;
    color: unset;
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
}
.contact-btn a{
    display: block;
    padding: 1.063rem 2rem;
}
.main--logo.footer--logo, .footer-icon-bar{
    margin: 0 auto;
}
.main--logo.footer--logo{
    margin-top: 2rem;
}
.footer-icon-bar{
    margin-bottom: 1.5rem;
}
.footer-links{
    color: #fff;
}
.footer-links, .footer-icon-bar{
    margin-top: 1em;
}
.footer-icon-bar{
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}